// Colors

$blue: #27889d;
$gray: #4b4737;
$bordo: #ad5b5b;
$light-gray: hsla(0, 0%, 0%, 0.25);
$light-yellow: hsla(52, 84%, 77%, 0.47);
$yellow: hsla(47, 83%, 70%, 1);

// How to use??
// color: $blue;
