@import "./palette.scss";

.circle-side {
  position: sticky;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.circle-up {
  position: sticky;
  left: 50%;
  transform: translateX(-50%);
  top: 1px;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $brown;
}

p {
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.04em;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  font-size: 24px;
}

.homebg {
  background-image: url("../images/homepage_bg.jpg");
  background-repeat: initial;
}

nav {
  justify-content: space-between;
  padding-bottom: 200px;
}

.herosec {
  display: flex;
  margin-bottom: 190px;
}

.icons {
  display: grid;
  img:not(:last-child) {
    padding-bottom: 110px;
  }
}

.introtext {
  display: inline;
  padding-left: 45px;
  margin: auto;
  width: 650px;
  border-left: $blue solid 3px;
  height: fit-content;

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 127.4%;
  }
}

.yellow-rectangle {
  width: 820px;
  border-radius: 35px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 40px;
  background-color: $light-yellow;

  h1 {
    margin-top: -45px;
    margin-left: -30px;
  }
}

.aboutme {
  display: block;
  margin-left: 160px;
  margin-bottom: 150px;

  button {
    margin-top: -24px;
    margin-left: 45%;
  }
}

.myportfolio {
  display: block;
  margin-left: 150px;
  .d-flex {
    .img {
      width: min-content;
      // padding-right: 100px;
      img {
        width: 250px;
        height: 250px;
        margin-right: 110px;
        margin-bottom: 50px;
      }
    }
  }

  button {
    margin-left: 75%;
    margin-top: -24px;
  }
}

.contactme {
  margin-top: 150px;
  h1 {
    color: $blue;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 0.155em;
    font-size: 96px;
  }
}

.contactform {
  display: flex;
  justify-content: center;
  max-width: 350px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 5px;
}

.grid-container > div {
  // background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 5px 0;
}

.input-style {
  background: none;
  border-top: none;
  border-right: none;
  padding-left: 8px;
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 3;
  input {
    width: calc(100%);
  }
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 3;
  input {
    width: calc(100%);
  }
}

.big-letter {
  &::first-letter {
    font-size: 36px;
    font-weight: bold;
  }
}

.blue-btn {
  padding: 17px 40px;
  border-radius: 15px;
  background-color: $blue;
  border: none;
  color: $yellow;
  font-size: 24px;
  letter-spacing: 0.04em;
  filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.29));
}

.d-flex {
  display: flex;
}

.pt40 {
  padding-top: 40px;
}

.py30 {
  padding-right: 30px;
  padding-left: 30px;
}

.pr35 {
  padding-right: 35px;
}

.pb100 {
  padding-bottom: 110px;
}

.m0 {
  margin: 0;
}
