@import "./palette.scss";

* {
  outline: none;
}

body {
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $gray;
}

p {
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.04em;
  line-height: 127.4%;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

h3 {
  font-size: 24px;
}

.circle-side {
  position: sticky;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.circle-up {
  position: sticky;
  left: 50%;
  transform: translateX(-50%);
  top: 1px;
}

.stonesmob {
  display: none;
}

.homebg {
  background-image: url("../images/homepage_bg.jpg");
  background-repeat: initial;
}

nav {
  justify-content: space-between;
  padding-bottom: 200px;
}

.navmenu {
  display: flex;

  h3 {
    margin: 0;
    cursor: pointer;
  }

  h3:not(:last-child) {
    margin-right: 90px;
  }
}

.herosec {
  display: flex;
  margin-bottom: 190px;
}

.icons {
  display: grid;

  img {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  img:not(:last-child) {
    margin-bottom: 110px;
  }
}

.introtext {
  display: inline;
  padding-left: 45px;
  margin: auto;
  width: 650px;
  border-left: $blue solid 3px;
  height: fit-content;

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 127.4%;
  }
}

.yellow-rectangle {
  position: relative;
  width: 820px;
  border-radius: 35px;
  padding: 90px 60px 80px 60px;
  background-color: $light-yellow;
}

.aboutme {
  margin-bottom: 220px;

  h1 {
    margin: 0;
    position: absolute;
    left: 2rem;
    bottom: 20rem;
  }
}

.myportfolio {
  display: block;

  .d-flex {
    .img {
      width: min-content;

      img {
        margin-right: 30px;
        margin-top: 160px;
      }
    }
  }
  .yellow-rectangle {
    height: fit-content;

    h1 {
      margin: 0;
      position: absolute;
      top: -4.5rem;
    }

    h2 {
      text-transform: uppercase;
      letter-spacing: 0.095em;
      margin-top: 60px;
    }
  }
}

.contactme {
  margin-top: 160px;
  background: linear-gradient(360deg, #c4c4c4, transparent);

  h1 {
    color: $blue;
    align-items: center;
    justify-content: center;
    display: flex;
    letter-spacing: 0.155em;
    font-size: 96px;
    text-shadow: 2px 3px 6px rgba(0, 0, 0, 0.28);
  }

  h2 {
    width: fit-content;
    margin-bottom: 90px;
    color: $bordo;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.055em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: all 0.5s ease-out;
    &:hover {
      transform: scale(1.1);
    }
  }

  span {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.155em;
    color: rgba(0, 0, 0, 0.25);
    padding-bottom: 15px;
  }
}

.contactform {
  display: flex;
  justify-content: center;
}

.grid-container {
  max-width: 350px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 5px;

  .leftborder {
    position: relative;

    &::before {
      content: "";
      width: 1px;
      height: 10px;
      display: block;
      background: $gray;
      position: absolute;
      left: 0px;
      top: 50%;
      transform: translateY(-130%);
    }
  }
}

.input-style {
  position: relative;
  border-bottom: 0.5px solid $gray;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  padding-left: 8px;
  margin-bottom: 25px;
}

input::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 82.69%; /* or 12px */
  letter-spacing: 0.08em;
  color: $gray;
}

.footericon {
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }
  }

  img:not(:last-child) {
    margin-right: 80px;
  }
}

.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.item2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.item3 {
  grid-column-start: 1;
  grid-column-end: 3;
  input {
    width: calc(100%);
  }
}

.item4 {
  grid-column-start: 1;
  grid-column-end: 3;

  input {
    width: calc(100%);
  }
}

.big-letter {
  &::first-letter {
    font-size: 36px;
    font-weight: bold;
  }
}

.blue-btn {
  position: absolute;
  bottom: -1.5rem;
  right: 12rem;
  padding: 17px 40px;
  border-radius: 15px;
  background-color: $blue;
  border: none;
  color: $yellow;
  font-size: 24px;
  letter-spacing: 0.04em;
  filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.29));
  transition: all 0.5s ease-out;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.d-flex {
  display: flex;
}

.pt40 {
  padding-top: 40px;
}

.py30 {
  padding-right: 30px;
  padding-left: 30px;
}

.pr35 {
  padding-right: 35px;
}

.pb100 {
  padding-bottom: 110px;
}

.m0 {
  margin: 0;
}

.container150 {
  margin-right: 150px;
  margin-left: 150px;
}

.container100 {
  margin-left: 100px;
  margin-right: 100px;
}
