.contactme 
    h1 contact me
    form.contactform
        .grid-container
            .item1.leftborder
                input.input-style(type="text" id="name" name="name"  placeholder="*Name")
            .item2.leftborder
                input.input-style(type="text" id="number" name="number" placeholder="Number")
            .item3.leftborder
                input.input-style(type="text" id="email" name="email" placeholder="*E-mail")
            .item4.leftborder
                input.input-style(type="text" id="message" name="message" placeholder="*Message")
    h2 Send e-mail
    .footericon
        img(src="images/icon/viber_iconred.png", alt="ViberAccount")
        img(src="images/icon/insta_iconred.png", alt="InstagramAccount")
        img(src="images/icon/git_iconred.png", alt="GitAccount")
    span ©2021 NilaDesign