nav.d-flex.py30
               .logo
                    h3.m0 SOME LOGO
               .navmenu
                    h3 ABOUT <br> ME
                    h3 MY <br> PORTFOLIO
                    h3 CONTACT<br> ME 