nav.d-flex.py30
               .logo
                    h3.m0 SOME LOGO
               .navmenu
                    a(href="myportfolio.html") 
                         h3.scale1 ABOUT <br> ME
                    a(href="myportfolio.html")
                         h3.scale1 MY <br> PORTFOLIO
                    a(href="myportfolio.html")
                         h3.scale1 CONTACT<br> ME 
               .navmob.scale1
                    a(href="#openmenu")
                         img(src="images/icon/burger_menu.png", alt="")
               .open-menu#openmenu
                    a(href="myportfolio.html") 
                         h3.scale1 ABOUT <br> ME
                    a(href="myportfolio.html")
                         h3.scale1 MY <br> PORTFOLIO
                    a(href="myportfolio.html")
                         h3.scale1 CONTACT<br> ME 

