nav.d-flex.py30
               .logo
                    h3.m0 SOME LOGO
               .navmenu
                    h3.scale1 ABOUT <br> ME
                    h3.scale1 MY <br> PORTFOLIO
                    h3.scale1 CONTACT<br> ME 