.icons
    a(href="https://github.com/niilak") 
        img.scale1(src="images/icon/git_icon.png", alt="GitHub Acconut")
    a(href="https://www.viber.com/en/") 
        img.scale1(src="images/icon/viber_icon.png", alt="Viber")
    a(href="https://mail.google.com/mail/u/0/#inbox?compose=new") 
        img.scale1(src="images/icon/gmail_icon.png", alt="Gmail")