doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Niila
        link(rel="stylesheet", href="../build/css/style.css")
        style.
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

    body 
        .homebg
            nav 
               .logo
                    h3 SOME LOGO
               .navbar
                    h3 ABOUT ME
                    h3 MY PORTFOLIO
                    h3 CONTACT ME 
            div 
                .icons
                    include svg_icons/instaicon.pug 
                    include svg_icons/vibericon.pug 
                    include svg_icons/gmailicon.pug
        