doctype html
html(lang="en")
    include includes/head.pug

    body.homebg
        img.circle-up(src="images/icon/circle_up.png", alt="")
        img.circle-side(src="images/icon/circle_side.png", alt="")
        div
            include includes/nav.pug 
            .herosec.py30
                .icons
                    a(href="https://www.instagram.com/") 
                        img.scale1(src="images/icon/insta_icon.png", alt="Instagram")
                    a(href="https://www.viber.com/en/") 
                        img.scale1(src="images/icon/viber_icon.png", alt="Viber")
                    a(href="https://mail.google.com/mail/u/0/#inbox?compose=new") 
                        img.scale1(src="images/icon/gmail_icon.png", alt="Gmail")
                .introtext 
                    p.big-letter Hi! My name is Nila, and I’m web designer stationed in Montenegro. For long time ago, I wish to start working like designer.
                    p.big-letter Currently I’m in the phase of learning as much as I can in this profession through my own personal projects and courses. 
                    p.big-letter Hope so that i soon stars to work like real freelance UX/UI designer
            .aboutme.container150
                .yellow-rectangle
                    h1 about <br> me
                    p.big-letter Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley  has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the Aldus PageMaker including versions of Lorem Ipsum
                    button.blue-btn.btn-margin(type='button') read more
            .myportfolio.container100
                .d-flex
                    .img
                        img.stonesiped(src="images/stonesiped.png", alt="img")
                        img.stonesmob(src="images/stonesmob.png", alt="img")
                    .yellow-rectangle
                        h1 my <br> portfolio
                        h2 stones
                        p.big-letter  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley  has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.ding versions of Lorem Ipsum
                        button.blue-btn(type='button') see more
            include includes/contactme.pug


